/* your code here */
.product{
	display:flex;
}
.product__photo{
	border:2px solid black;
	background-color:red;
}
.photo_album>ul{
	display:flex;
}
.product__info{
	border:2px solid black;
	background-color:blue;
}
